*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(3, 300px);
}
.box{
    background-color: white;
    margin: 5px;
    padding: 10px;
    box-shadow: 1px 1px 5px #333;
}
h2{margin: 10px 0; text-align: center;}
img{
    width: 200px;
    vertical-align: middle;
    position: relative;
    top: 50%;
    margin-top: -125px;
}
.img{
    width: 200px;
    height: 130px;
    overflow: hidden;
    margin: 13px auto;
}