*{margin: 0; box-sizing: border-box;}
img{
    width: 160px; 
    margin-bottom: 10px;
}
div{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}